@media(max-width:767px) {
    .logo_block {
        flex-direction: column;

    }

    .logo_block img {
        margin: 0 auto;
    }

    .logo_block h1 {
        margin-top: 15px;
        font-size: 18px;
        text-align: center;
    }

    .menu {
        display: none;
    }

    .section_quest {
        display: none;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 24px;
    }

    .kurs_1 p {
        font-size: 15px;
    }

    h4 {
        font-size: 24px;
    }

    .sec_4 img {
        width: 130px;
        height: 101px
    }

    .sec_4_text {
        font-size: 15px;
    }

    h5 {
        font-size: 24px;
    }

    .waves1 {
        width: 32px;
        height: 32px;
        margin-left: 38%;
    }

    h6 {
        font-size: 18px;
    }

    .all {
        flex-direction: column;
    }

    .all div p {
        font-size: 10px;
    }

    .adres p {
        width: 222px;
        height: 28px;
    }

    .imgbutton {
        height: 40px;
        width: 40px;

    }

    .imgprill {
        height: 200px;
        margin: 0 auto;
        border-radius: 20px;
    }

    .sec_pril1 {
        margin: 0 auto;
        width: 90%;
    }

    .sec_main {
        flex-direction: column;
        padding: 0 20px;
    }
}